.container {
    display: flex;
    background-color: white;
    height: 75px;
    align-items: center;
}

.title {
    margin-right: auto;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

button {
    border: none;
    height: 75px;
    width: 75px;
    background-color: #051346;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: #020923;
}

button:active {
    text-decoration: underline;
}
