.banner-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-container img {
    display: block;   
    filter: brightness(50%)
}

.banner-container .overlay-text {
    position: absolute; 
    left: 5%; 
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    color: white;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
}
