.card-container {
    height: 100px;
    width: 100%;
    background-color: #ff5038;
    padding: 30px;
    border: solid 1px black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.card-container:hover {
    background-color: #FF2305;
}

.card-container .card-info {
    margin-left: 3%;
}

.card-container .card-info h1, h3 {
    padding: 0px;
    font-family: sans-serif;
    width: 200px;
}

.card-container .card-info h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.card-container .card-info h3 {
    font-size: 20px;
}

.room-state {
    margin-right: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;    
    font-size: 30px;
}
